.create-player {
  margin-top: 40px;
}

form {
  display: flex;

  flex-direction: column;

  gap: 10px;

  max-width: 400px;
}

input {
  padding: 10px;

  border-radius: 8px;

  border: 1px solid #ccc;
}

button {
  padding: 12px;

  border: none;

  border-radius: 8px;

  background: #2563eb;

  color: white;

  cursor: pointer;
}